:root {
  --bg-color: white;
  --text-color: black;
}

body.dark-mode {
  --bg-color: #121212;
  --text-color: white;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

@media (max-width: 768px) {
   .menu {
       display: block;
   }
}

.menu {
    z-index: 10;
}
